/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/05/2017, 08:10:44 PM
    Author     : GOMEZ
*/
/*
body{
    //background-image: url('../img/cielo_azul.jpg');
}
*/

.iconoAdicionar {
    background-image: url(../imagenes/adicionar.png);
}

.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important
}

.btn-redondo{
    width: 100px;
    height: 100px;
    padding-top: 20px;
    align-content: center;
    margin: auto;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 2px solid #f5ebf5;;
}

.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.alIzq{
    text-align: left;
}


#verDescPaso{
    border-width:0; 
    color:blue; 
    text-decoration: underline;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid black;
    color: black;
    text-align: center;
    font: 32px Arial, sans-serif;
    display: inline-block;
}

.divScroll {
    overflow-y: scroll;
    height: 436px;
}
.divScrollG {
    overflow-y: scroll;
    height: 350px;
}
.divScrollG2 {
    overflow-y: scroll;
    height: 250px;
}
.divG {
    height: 350px;
}
.alDer{
    text-align: right;
}

.alCen{
    text-align: center;
}

.ancho{
    width: 200px;
}

.margenS{
    padding: 8px;
}

.tblCent{
    margin: auto;
    width: 25%;
    text-align: center;
}

.tblCent td, tr {
    padding: 8px;
}

.tblCentContent{
    margin: auto;
    width: 50%;
    text-align: center;
    
}

.tblCentContent td, tr {
    padding: 8px;
}
.tblCentfullP{
    width: 100%;
    text-align: center;
    margin-bottom: 1px;
}
.tblCentfullP td, tr {
    padding: 8px;
}

.tblCentfull{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.tblCentfull td, tr {
    padding: 8px;
}

.anchoImagen{
    width: 20px;
    
}

.anchoImagenLabel{
    margin-left: 86px;
}

.title{
    text-align: center;
    padding-top: 50px;
}

.subtitle{
    text-align: center;
    padding-top: 25px;
}

.parrafo{
    text-align: justify;
}

.bienvenida{
    text-align: center;
}

.btn-file{
    position: relative;
    overflow: visible;
}

.btn-file input[type=file]{
    position: absolute;
    top:0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    
    background: inherit;
    display: block;   
    /*outline: none;*/
}

.descripcion{
    margin: 0px;
    height: 169px;
    width: 352px;
}

#divMensaje{
    position: fixed;
    top:30px;
    left:0;
    width: 100%;
}

#inner-message {
    margin: 0 auto;
}
#principalPadre
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#principalHijo
{
    margin-top: 2px;
    background-attachment: fixed;
}

#bodyPage
{
    background-image: url('resources/imagenes/texturaFondo.png');
    fill: true;
}

.btn-glotonLight { 
  color: #521B04; 
  background-color: #F29403; 
  border-color: #E36B07; 
} 
 
.btn-glotonLight:hover, 
.btn-glotonLight:focus, 
.btn-glotonLight:active, 
.btn-glotonLight.active, 
.open .dropdown-toggle.btn-glotonLight { 
  color: #521B04; 
  background-color: #E36B07; 
  border-color: #E36B07; 
} 
 
.btn-glotonLight:active, 
.btn-glotonLight.active, 
.open .dropdown-toggle.btn-glotonLight { 
  background-image: none; 
} 
 
.btn-glotonLight.disabled, 
.btn-glotonLight[disabled], 
fieldset[disabled] .btn-glotonLight, 
.btn-glotonLight.disabled:hover, 
.btn-glotonLight[disabled]:hover, 
fieldset[disabled] .btn-glotonLight:hover, 
.btn-glotonLight.disabled:focus, 
.btn-glotonLight[disabled]:focus, 
fieldset[disabled] .btn-glotonLight:focus, 
.btn-glotonLight.disabled:active, 
.btn-glotonLight[disabled]:active, 
fieldset[disabled] .btn-glotonLight:active, 
.btn-glotonLight.disabled.active, 
.btn-glotonLight[disabled].active, 
fieldset[disabled] .btn-glotonLight.active { 
  background-color: #F29403; 
  border-color: #E36B07; 
} 
 
.btn-glotonLight .badge { 
  color: #F29403; 
  background-color: #521B04; 
}
.btn-glotonDark { 
  color: #F29403; 
  background-color: #C93E03; 
  border-color: #C93E03; 
} 
 
.btn-glotonDark:hover, 
.btn-glotonDark:focus, 
.btn-glotonDark:active, 
.btn-glotonDark.active, 
.open .dropdown-toggle.btn-glotonDark { 
  color: #F29403; 
  background-color: #C93E03; 
  border-color: #C93E03; 
} 
 
.btn-glotonDark:active, 
.btn-glotonDark.active, 
.open .dropdown-toggle.btn-glotonDark { 
  background-image: none; 
} 
 
.btn-glotonDark.disabled, 
.btn-glotonDark[disabled], 
fieldset[disabled] .btn-glotonDark, 
.btn-glotonDark.disabled:hover, 
.btn-glotonDark[disabled]:hover, 
fieldset[disabled] .btn-glotonDark:hover, 
.btn-glotonDark.disabled:focus, 
.btn-glotonDark[disabled]:focus, 
fieldset[disabled] .btn-glotonDark:focus, 
.btn-glotonDark.disabled:active, 
.btn-glotonDark[disabled]:active, 
fieldset[disabled] .btn-glotonDark:active, 
.btn-glotonDark.disabled.active, 
.btn-glotonDark[disabled].active, 
fieldset[disabled] .btn-glotonDark.active { 
  background-color: #C93E03; 
  border-color: #C93E03; 
} 
 
.btn-glotonDark .badge { 
  color: #C93E03; 
  background-color: #F29403; 
}
.btn-glotonLogout { 
  color: #EDA005; 
  background-color: #6E4A00; 
  border-color: #6E4A00; 
} 
 
.btn-glotonLogout:hover, 
.btn-glotonLogout:focus, 
.btn-glotonLogout:active, 
.btn-glotonLogout.active, 
.open .dropdown-toggle.btn-glotonLogout { 
  color: #EDA005; 
  background-color: #855900; 
  border-color: #6E4A00; 
} 
 
.btn-glotonLogout:active, 
.btn-glotonLogout.active, 
.open .dropdown-toggle.btn-glotonLogout { 
  background-image: none; 
} 
 
.btn-glotonLogout.disabled, 
.btn-glotonLogout[disabled], 
fieldset[disabled] .btn-glotonLogout, 
.btn-glotonLogout.disabled:hover, 
.btn-glotonLogout[disabled]:hover, 
fieldset[disabled] .btn-glotonLogout:hover, 
.btn-glotonLogout.disabled:focus, 
.btn-glotonLogout[disabled]:focus, 
fieldset[disabled] .btn-glotonLogout:focus, 
.btn-glotonLogout.disabled:active, 
.btn-glotonLogout[disabled]:active, 
fieldset[disabled] .btn-glotonLogout:active, 
.btn-glotonLogout.disabled.active, 
.btn-glotonLogout[disabled].active, 
fieldset[disabled] .btn-glotonLogout.active { 
  background-color: #6E4A00; 
  border-color: #6E4A00; 
} 
 
.btn-glotonLogout .badge { 
  color: #6E4A00; 
  background-color: #EDA005; 
}

<!--panelgrid con fondo transparente para el login y las imagenes -->
.noBorder tr,
.noBorder td { border: 0 !important; }

.transparentBackground tr,
.transparentBackground td { background: transparent; }

.centered {
    position: absolute;
    height: 100px;
    top: 0;
    bottom: 0;
    margin:auto;
}

.backGroundTexture {
  background-image:  url(../imagenes/texturaFondo.png);
  background-color: transparent;
}
.Bimage
{
    background-image: url("#{resource['imagenes/texturaFondo.png']}");
}
tr.jsfcrud_odd_row {
    background-color: #e36b07;
    color: #444444;
}


tr.jsfcrud_even_row {
    background-color: #F7F564;
    color: #444444;
}